.game {
	margin-top: 10rem;
	padding: 2rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.boardThird {
	width: 100%;
	background: #ddf5da;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.row:nth-child(3) {
	margin-bottom: 10px;
}
.row:nth-child(6) {
	margin-bottom: 10px;
}

.square {
	height: 3rem;
	width: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e3acfa;
	font-size: 2.5rem;
	cursor: pointer;
}

.defaultSquare {
	background: #e3acfa;
	cursor: not-allowed;
}

.userSquare {
	background: #d1889a;
}

.incorrectSquare {
	border: 4px solid red;
}

.square:hover {
	background: #e399fa;	
}
.square:disabled {
	color: #555;	
}


.square:nth-child(3) {
	margin-right: 10px;
}
.square:nth-child(6) {
	margin-right: 10px;
}

.gameLink {
	margin: 0.5rem;
	padding: 0.5rem;
	background: pink;
	border: 1px solid black;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	color: black;
}

.gameLink:hover {
	background: deeppink;
	border: 1px solid white;
	color: white;
}

.settings {
	margin: 1rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.selection {
	list-style: none;
	display: block;
	background: yellow;
	width: 100%;
	display: flex;
	flex-direction: column;
}